.fightarea{
    display: flex;
    gap: 20px;
}
/*
gap --> divide os elementos igualmente na tela
*/

#char, #monster{
    flex: 1;
}

.lifebar{
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: red;
    border-radius: 5px;
}
/*
height: inherit; --> herda as propriedades da classe pai
*/
.log{
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
}
/*
overflow-y: scroll; --> barra de rolagem na vertical
*/
